body {
    font-size: 1.1em;
    background-color: whitesmoke;
}
h1 {
    color: black;
    font-family: Georgia, serif;
}
h2{
    color:black;
    font-family: Georgia, serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3{
    color:black;
    font-family: Georgia, serif;
    font-size: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    color:hsl(0, 0%, 17%);
    font-family: Arial, sans-serif;
    
}
table td {
    border-right: 1px solid #000000; 
    border-bottom: 1px solid #000000; 
    text-align: center; 
    width: 30px;
    height: 30px;
  }
  table{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #000000; 
    border-top: 1px solid #000000; 
  }
  button{
    background-color: #96ccf8;
    border:none;
    color: hsl(0, 0%, 17%);
    padding: 3px;
    text-align: center;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  img{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
#uvodni{
    padding: 25px 25px 25px 25px;
    background-color: rgb(151, 204, 248);
    margin-bottom: 20px;
}
#popis{
    margin-top: 15px;
    margin-bottom: 15px;
}
#sifra{
    margin-top: 15px;
    margin-bottom: 15px;
}nav{
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 17%);
}
input[type=text]{
    border-style: groove;
    border-color:lightgray;
    width: 35%;
    border-width: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: hsl(0, 0%, 17%);
    font-family: Arial, sans-serif;
    padding: 2px 2px 2px 2px;
    
}
input[type=number]{
    border-style: groove;
    border-color:lightgray;
    width: 15%;
    border-width: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: hsl(0, 0%, 17%);
    font-family: Arial, sans-serif;
    padding: 2px 2px 2px 2px;
    
}
#vysledek{
    border-style: groove;
    border-color:lightgray;
    width: 35%;
    border-width: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 2px 2px 2px 2px;
    
}
